*.asv
*.swp
*.m~
*.o
*.a
odmTest
external/iso2mesh/sample
.DS_Store
*.mex
*.gch
utilities/buildtimestamp.m

realtime/bin/maci64/demo_combined
realtime/bin/maci64/demo_event
realtime/bin/maci64/demo_sinewave
realtime/bin/maci64/interface_server
realtime/bin/maci64/interface_write
realtime/bin/maci64/test_benchmark
realtime/bin/maci64/test_connect
realtime/bin/maci64/test_flushdat
realtime/bin/maci64/test_flushevt
realtime/bin/maci64/test_flushhdr
realtime/bin/maci64/test_getdat
realtime/bin/maci64/test_getevt
realtime/bin/maci64/test_gethdr
realtime/bin/maci64/test_nslookup
realtime/bin/maci64/test_pthread
realtime/bin/maci64/test_waitdat
