*.6
*.a
*.asv
*.gch
*.mex
*.m~
*.o
*.ply
*.swp
.DS_Store
external/iso2mesh/sample
odmTest
utilities/buildtimestamp.m

bin/fieldtrip.app
bin/readme.txt
bin/requiredMCRProducts.txt
bin/run_fieldtrip.sh

realtime/bin/*/demo_combined
realtime/bin/*/demo_event
realtime/bin/*/demo_sinewave
realtime/bin/*/interface_server
realtime/bin/*/interface_write
realtime/bin/*/test_benchmark
realtime/bin/*/test_connect
realtime/bin/*/test_flushdat
realtime/bin/*/test_flushevt
realtime/bin/*/test_flushhdr
realtime/bin/*/test_getdat
realtime/bin/*/test_getevt
realtime/bin/*/test_gethdr
realtime/bin/*/test_nslookup
realtime/bin/*/test_pthread
realtime/bin/*/test_waitdat

external/npmk/NPMKverChecker.dat
