ATTR{manufacturer}=="Emotiv Systems Pty Ltd", ATTRS{product}=="Receiver Dongle L01",ATTRS{idVendor}=="21a1",MODE=0444,GROUP="plugdev" 
ATTR{bus}="usb",ATTRS{idVendor}=="0403",MODE=0444,GROUP="plugdev" 

